html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}
a:hover {
  color: #84bae8;
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

a:focus {
  outline: 0;
}

li {
  transition: all 0.6s ease-in-out;
  margin-right: 3rem;
}
@media screen and (min-width: 1100px) {
  li:hover {
    transform: scale(1.5);
  }
}

figure {
  flex: 1;
}

@media screen and (max-width: 991px) {
  figure {
    margin: 10px auto;
    max-width: 100%;
  }
}

.section-text__content {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: #2a2332 url(../img/desk-min.jpg) no-repeat center center;
  background-size: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(28, 11, 66, 0.6784313725490196); */
  height: 100vh;
}

svg.icon {
  max-width: 4rem;
  fill: #f8f8f8;
}

path {
  fill: #f8f8f8;
}

.intro-message {
  position: relative;
  padding-top: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 30%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 1030px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .social-icons {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .intro-message > h1 {
    font-size: 3em;
  }

  .intro-divider {
    width: 60%;
  }
}
section {
  display: flex;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  padding: 120px;
}

@media screen and (max-width: 992px) {
  section {
    padding: 2rem;
  }
}

.typewriter h2 {
  overflow: hidden;
  font-size: 2.8em;
  width: 28%;
  /* border-right: 0.15em solid orange; Cursor */
  white-space: nowrap;
  margin: 2% auto; /* Scrolling effect */
  letter-spacing: 1px;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

/* The cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*
==========================================================================================================
                    =====        Page fade in animation   =====

*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease-in-out 5s;
  -webkit-animation: fadeIn ease-in-out 5s;
  -moz-animation: fadeIn ease-in-out 5s;
  -o-animation: fadeIn ease-in-out 5s;
  -ms-animation: fadeIn ease-in-out 5s;
}
/*
==========================================================================================================
*/
section.work-together {
  background: #66527d;
  padding: 80px 0;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
section.work-together h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 42px;
}

section.work-together__alternate {
  background: rgba(6, 111, 92, 0.6784313725490196);
}

section.work-in-progress {
  padding: 60px 0 0;
  background: #fff;
}

.section-text__title {
  margin-bottom: 30px;
  color: #e64d34;
  font-weight: 400;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

section .section-wrapper {
  display: flex;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  section .section-wrapper {
    max-width: 1280px;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 991px) {
  section .section-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
  }
}

section .section-wrapper .section-text {
  padding: 30px 0;
}
@media screen and (min-width: 1550px) {
  section .section-wrapper .section-text__content {
    max-width: 68%;
    margin: auto;
  }
}
@media screen and (max-width: 991px) {
  section .section-wrapper .section-text__content {
    max-width: 100%;
  }
}
section .section-wrapper .column-image > figure > img {
  max-width: 239px;
  display: flex;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .typewriter h2 {
    width: 68%;
  }
  .typewriter h2 {
    font-size: 1em;
  }
}
@media (max-width: 769px) {
  .typewriter h2 {
    /* Ensures the content is not revealed until the animation */
    width: 60%;
    border-right: 0.15em solid blue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    -webkit-animation: typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  address {
    font-size: 12px;
  }

  /* The typing effect */
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }

  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 1em;
  }
}
section.work-together .email__circle {
  display: block;
  margin: 0 auto 42px;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 120px;
  text-align: center;
  line-height: 120px;
  color: #66527d;
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}
@media screen and (min-width: 1100px) {
  a.email__circle:hover {
    transform: scale(1.2);
  }
}

footer {
  padding: 50px 0;
  background-color: white;
  text-align: center;
}

path#github {
  fill: black;
}
path#linkedin {
  fill: #0072b0;
}
path#email {
  fill: #90554c;
}

p.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 18px;
}
